<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />*@
    <title>login validate</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        
    </style>
</head>
<body>
    <div class="center-in-center">
        <input type="button" id="btnApply" value="申请授权" style="height: 25px;height: 30px;background-color: green"/>
    </div>
    <script type="text/javascript">

        $("#btnApply").click(function() {

            $.ajax({
                url: 'WXOAuth/Index',
                type: 'post',
                data: { WXOAuth: "123" },
                dataType: 'json',
                    success: function (data) {
                    console.log('返回的数据：' + JSON.stringify(data))
                }

            })
        });
    </script>

</body>
</html>
