<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login validate</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        html,body,div{
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        div{
            background-color: #FFF8DC;
        }
        .div_music{
            position: fixed;
            top: 30px;
            right: 30px;
            z-index: 1;
            /*opacity: 0;*/ 
            height: 20px;
            width: 20px; 
        }

        .open {
            transform: rotate(30deg);
            -ms-transform: rotate(30deg); /* IE 9 */
            -moz-transform: rotate(30deg); /* Firefox */
            -webkit-transform: rotate(30deg); /* Safari and Chrome */
            -o-transform: rotate(30deg); /* Opera style="visibility:hidden"*/
        }

    </style>
</head>
<body>
<div id="base">
    <img id="imgMuc" class="div_music" src="~/images/music1.png" onclick="playOrPause()" />
    <img id="photo" style="width: 100%;height: 100%"/>
    <div >
        <audio id="auMusic" autoplay="autoplay" src="~/audio/mp3/1.mp3">
            does not support.
        </audio>
    </div>
</div>

<script type="text/javascript">
    var aud = document.getElementById("auMusic");

    function playOrPause() {
        if (aud.paused) {
            aud.play();
        } else {
            aud.pause();
        }
    }

    let root = 2;
    aud.loop = false;
    aud.addEventListener('ended', function () {
        
        $("#auMusic").attr("src", "audio/mp3/" + root + ".mp3");
        root += 1;
        if (root > 6) {
            root = 1;
        }
    }, false);
</script>

@*定时器*@
<script type="text/javascript">

    //图片转换
    var num = 1;
    setInterval(function () {
        $("#photo").attr("src", "photo/" + num + ".jpg");
        
        num++;
        if (num > 3) {
            num = 1;
        }
    }, 5000);

    //图标旋转
    let cor = 5;
    setInterval(function () {
        $("#imgMuc").css("transform", "rotate(" + cor + "deg)");
        $("#imgMuc").css("-ms-transform", "rotate(" + cor + "deg)");
        $("#imgMuc").css("-moz-transform", "rotate(" + cor + "deg)");
        $("#imgMuc").css("-webkit-transform", "rotate(" + cor + "deg)");
        $("#imgMuc").css("-o-transform", "rotate(" + cor + "deg)");
        cor += 5;
        if (cor > 360) {
            cor = 5;
        }
    }, 80);
</script>

@*全屏*@
<script type="text/javascript">

    //$("#photo").click(function () {
    //    fullscreen();
    //});
    // 全屏
    function fullscreen() {
        var docElm = document.documentElement;
        if (docElm.requestFullscreen) {
            docElm.requestFullscreen();
        } else if (docElm.mozRequestFullScreen) {
            docElm.mozRequestFullScreen();
        } else if (docElm.webkitRequestFullScreen) {
            docElm.webkitRequestFullScreen();
        } else if (docElm.msRequestFullscreen) {
            docElm.msRequestFullscreen();
        }
    }

    // 退出全屏
    function exitFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
            document.webkitCancelFullScreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
    }

    // 监听是否全屏
    window.onload = function () {
        var elem = document.getElementById('photo');
        document.addEventListener('fullscreenchange',
            function () {
                elem.innerText = document.fullscreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('mozfullscreenchange',
            function () {
                elem.innerText = document.mozFullScreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('webkitfullscreenchange',
            function () {
                elem.innerText = document.webkitIsFullScreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('msfullscreenchange',
            function () {
                elem.innerText = document.msFullscreenElement ? 'yes' : 'no';
            },
            false);
    }
</script>
</body>
</html>
