<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />*@
    <title>login validate</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        body{
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            background-size:contain
        }
        .container {
            display: flex;
            align-items: center; /* 垂直居中 */
            justify-content: center; /* 水平居中 */
        }

       .center-in-center{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    
    </style>
</head>
<body>
    <div class="center-in-center">
        @*<img id="photo" style="width: 100%;height: 100%;" src="photo/1.jpg" />*@
        @*<div class="help"></div>*@
    </div>
<script type="text/javascript">
    //$(function () {
    //    var img = new Image();
    //    img.src = "photo/1.jpg";
    //    var width = getWidthRate(img.width);
    //    var height = getHeightRate(img.height);
    //    $("#photo").attr("src", "photo/10.jpg");
    //    $("#photo").css("width", width + "%");
    //    $("#photo").css("height", height + "%");
    //});
    $(function() {
        $(".wrapper").css("height", window.innerHeight);
        //$(".help").css("width", window.innerWidth);
        $(".box").css("width", window.innerWidth-3);
    });

    var aud = document.getElementById("auMusic");

    function playOrPause() {
        if (aud.paused) {
            aud.play();
        } else {
            aud.pause();
        }
    }

    var root = 2;
    //aud.loop = false;
    //aud.addEventListener('ended',
    //    function() {

    //        $("#auMusic").attr("src", "audio/mp3/" + root + ".mp3");
    //        root += 1;
    //        if (root > 6) {
    //            root = 1;
    //        }
    //    },
    //    false);

    function getWidthRate(width) {
        return Math.round(100 * width / screen.width);
    }

    function getHeightRate(height) {
        return Math.round(100 * height / screen.height);
    }
</script>

@*定时器*@
<script type="text/javascript">

    //图片转换
    var num = 2;
    var img = new Image();
    img.src = "photo/" + num + ".jpg";
    var width = getWidthRate(img.width);
    var height = getHeightRate(img.height);

    setInterval(function() {
            $("#photo").attr("src", "photo/" + num + ".jpg");
            num++;
            if (num > 3) {
                num = 1;
            }
        },
        5000);

    //图标旋转
    var cor = 5;
    setInterval(function() {
            $("#imgMuc").css("transform", "rotate(" + cor + "deg)");
            $("#imgMuc").css("-ms-transform", "rotate(" + cor + "deg)");
            $("#imgMuc").css("-moz-transform", "rotate(" + cor + "deg)");
            $("#imgMuc").css("-webkit-transform", "rotate(" + cor + "deg)");
            $("#imgMuc").css("-o-transform", "rotate(" + cor + "deg)");
            cor += 5;
            if (cor > 360) {
                cor = 5;
            }
        },
        80);
</script>

@*全屏*@
<script type="text/javascript">
    var full = 0;
    $(".wrapper").click(function () {
        if (full == 0) {
            fullscreen();
            full = 1;
        } else {
            exitFullscreen();
            full = 0;
        }
    });

    // 全屏
    function fullscreen() {
        var docElm = document.documentElement;
        if (docElm.requestFullscreen) {
            docElm.requestFullscreen();
        } else if (docElm.mozRequestFullScreen) {
            docElm.mozRequestFullScreen();
        } else if (docElm.webkitRequestFullScreen) {
            docElm.webkitRequestFullScreen();
        } else if (docElm.msRequestFullscreen) {
            docElm.msRequestFullscreen();
        }
    }

    // 退出全屏
    function exitFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
            document.webkitCancelFullScreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
    }

    // 监听是否全屏
    window.onload = function() {
        var elem = document.getElementById('photo');
        document.addEventListener('fullscreenchange',
            function() {
                elem.innerText = document.fullscreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('mozfullscreenchange',
            function() {
                elem.innerText = document.mozFullScreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('webkitfullscreenchange',
            function() {
                elem.innerText = document.webkitIsFullScreen ? 'yes' : 'no';
            },
            false);
        document.addEventListener('msfullscreenchange',
            function() {
                elem.innerText = document.msFullscreenElement ? 'yes' : 'no';
            },
            false);
    }
</script>
</body>
</html>
